:root {
  --my-variable: brown;
}

h1, h2, h3, h4, h5 {
  font-family: "Slabo 27px", serif;
}

p {
  font-family: "Montserrat", serif;
}

.container-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 0.5rem 0.5rem;
  padding: 0.5rem 0.5rem;
}

.container-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  grid-gap: 1.5rem;
  align-items: center;
  flex-direction: row;
  margin: 0.5rem 0.5rem;
  padding: 0.5rem 0.5rem;
}

.grid-item {
  grid-column: span 1;
}

.input {
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0.5rem;
  padding: 0.5rem 0.5rem;
  border: 2px solid #14213e;
  border-radius: 3px;
  box-shadow: 0.4rem 0.4rem 3px 2px rgba(25, 78, 164, 0.1);
  grid-column: span 1;
  font-family: "Montserrat", serif;
  color: #14213e;
  font-size: 1.2rem;
  outline: none;
  width: 100%;
}

.input-label {
  grid-column: span 1;
  font-family: "Slabo 27px", serif;
  color: #14213e;
  font-size: 1.2rem;
}

input[type=text]:focus {
  border-color: #194ea4;
}

.input-group {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-out;
}

.input-group:hover {
  transform: translateY(-0.25rem);
}

/* Customize the label (the container) */
.checkbox-label {
  display: block;
  position: relative;
  padding-left: 40px;
  cursor: pointer;
  grid-column: span 1;
  font-family: "Slabo 27px", serif;
  color: #14213e;
  font-size: 1.2rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all 0.2s ease-out;
}

/* Hide the browser's default checkbox */
.checkbox-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: white;
  border: 2px solid #14213e;
  border-radius: 3px;
  box-shadow: 0.4rem 0.4rem 3px 2px rgba(25, 78, 164, 0.1);
}

.checkbox-label:hover {
  transform: translateY(-0.25rem);
}

/* On mouse-over, add a grey background color */
.checkbox-label:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-label input:checked ~ .checkmark {
  background-color: #194ea4;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-label input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-label .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.input:hover:enabled {
  cursor: pointer;
}

.btn {
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0.5rem;
  padding: 0.5rem 0.5rem;
  border: 2px solid #14213e;
  border-radius: 3px;
  box-shadow: 0.4rem 0.4rem 3px 2px rgba(25, 78, 164, 0.1);
  grid-column: span 1;
  transition: all 0.2s ease-out;
  outline: none;
}

.btn:hover:enabled {
  cursor: pointer;
  transform: translateY(-0.25rem);
}

.btn:active {
  border-color: #194ea4;
}

.btn:disabled {
  opacity: 0.4;
  background-color: #e6e6e6;
}

.btn-primary {
  color: white;
  font-family: "Slabo 27px", serif;
  font-size: 1.2rem;
  width: 100%;
  background: #fd12b6;
  transition: all 0.2s ease-in-out;
}

.btn-primary:hover:enabled {
  background: rgba(253, 18, 182, 0.8);
}

.btn-secondary {
  color: white;
  font-family: "Slabo 27px", serif;
  font-size: 1.2rem;
  width: 100%;
  background: #194ea4;
  transition: all 0.2s ease-in-out;
}

.btn-secondary:hover:enabled {
  background: rgba(25, 78, 164, 0.8);
}

.btn-tertiary {
  color: white;
  font-family: "Slabo 27px", serif;
  font-size: 1.2rem;
  width: 100%;
  background: #14213e;
  transition: all 0.2s ease-in-out;
}

.btn-tertiary:hover:enabled {
  background: rgba(20, 33, 62, 0.8);
}

.btn-quaternary {
  color: black;
  font-family: "Slabo 27px", serif;
  font-size: 1.2rem;
  width: 100%;
  background: #e6e6e6;
  transition: all 0.2s ease-in-out;
}

.btn-quaternary:hover:enabled {
  background: rgba(230, 230, 230, 0.2);
}

.textarea {
  justify-content: start;
  align-items: center;
  margin: 0.5rem 0.5rem;
  padding: 0.5rem 0.5rem;
  border: 2px solid #14213e;
  border-radius: 3px;
  box-shadow: 0.4rem 0.4rem 3px 2px rgba(25, 78, 164, 0.1);
  grid-column: span 1;
  font-family: "Montserrat", serif;
  color: #14213e;
  font-size: 1.2rem;
  outline: none;
  min-height: 4rem;
  width: 100%;
}

.textarea-label {
  grid-column: span 1;
  font-family: "Slabo 27px", serif;
  color: #14213e;
  font-size: 1.2rem;
}

.textarea:focus {
  border-color: #194ea4;
}

.card {
  margin: 0.5rem 0.5rem;
  padding: 0 0.5rem;
  display: flex;
  grid-column: span 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid #14213e;
  border-radius: 3px;
  box-shadow: 0.4rem 0.4rem 3px 2px rgba(25, 78, 164, 0.1);
  transition: all 0.2s ease-out;
}

.card:hover {
  transform: translateY(-0.5rem);
}

.card-title {
  padding: 0.5rem 0.5rem;
  color: white;
  font-family: "Slabo 27px", serif;
  font-size: 1.2rem;
  width: 100%;
  background: linear-gradient(45deg, #194ea4, #fd12b6);
}

.card-success {
  background: linear-gradient(45deg, #19a451, #fdf612);
}

.card-warning {
  background: linear-gradient(45deg, #ff8100, #fdf612);
}

.card-danger {
  background: linear-gradient(45deg, #ef0101, #ff7979);
}

.card-body {
  width: 100%;
  margin: 0.5rem 0.5rem;
  padding: 0.5rem 0.5rem;
  font-family: "Montserrat", serif;
}

.card-footer {
  padding: 0.5rem 0.5rem;
  background-color: #e6e6e6;
  width: 100%;
  font-family: "Montserrat", serif;
}

/*# sourceMappingURL=purkka.css.map */
