//Setting up variables
//////////////////////////

//Colors
$black: hsla(0, 0%, 0%, 1);
$oxford-blue: hsla(221, 51%, 16%, 1);
$sapphire: hsla(217, 74%, 37%, 1);
$shocking-pink: hsla(318, 98%, 53%, 1);
$platinum: hsla(0, 0%, 90%, 1);
$white: hsla(0, 0%, 100%, 1);
$black: hsla(0, 0%, 0%, 1);
$green: #19a451;
$yellow: #fdf612;
$orange: #ff8100;
$red: #ef0101;
$peach: #ff7979;

//Gradients
$gradient-top: linear-gradient(0deg, #000000ff, #14213dff, #184ea4ff, #fc12b6ff, #e5e5e5ff, #ffffffff);
$gradient-right: linear-gradient(90deg, #000000ff, #14213dff, #184ea4ff, #fc12b6ff, #e5e5e5ff, #ffffffff);
$gradient-bottom: linear-gradient(180deg, #000000ff, #14213dff, #184ea4ff, #fc12b6ff, #e5e5e5ff, #ffffffff);
$gradient-left: linear-gradient(270deg, #000000ff, #14213dff, #184ea4ff, #fc12b6ff, #e5e5e5ff, #ffffffff);
$gradient-top-right: linear-gradient(45deg, #000000ff, #14213dff, #184ea4ff, #fc12b6ff, #e5e5e5ff, #ffffffff);
$gradient-bottom-right: linear-gradient(135deg, #000000ff, #14213dff, #184ea4ff, #fc12b6ff, #e5e5e5ff, #ffffffff);
$gradient-top-left: linear-gradient(225deg, #000000ff, #14213dff, #184ea4ff, #fc12b6ff, #e5e5e5ff, #ffffffff);
$gradient-bottom-left: linear-gradient(315deg, #000000ff, #14213dff, #184ea4ff, #fc12b6ff, #e5e5e5ff, #ffffffff);
$gradient-radial: radial-gradient(#000000ff, #14213dff, #184ea4ff, #fc12b6ff, #e5e5e5ff, #ffffffff);

//Title gradient
$title-gradient: linear-gradient(45deg,$sapphire, $shocking-pink);
//Hover gradient
$hover-gradient: linear-gradient(45deg,$shocking-pink, $sapphire);
//Secondary gradient
$secondary-gradient: linear-gradient(45deg, $oxford-blue, $sapphire);
//Secondary gradient
$secondary-hover-gradient: linear-gradient(45deg, $sapphire, $platinum);
//Footer gradient
$footer-gradient: linear-gradient(45deg, $platinum, $white);
//success gradient
$success-gradient: linear-gradient(45deg, $green, $yellow);
//warning gradient
$warning-gradient: linear-gradient(45deg, $orange, $yellow);
//danger gradient
$danger-gradient: linear-gradient(45deg, $red, $peach);
//Primary colors, padding and margin
$primary-font: 'Slabo 27px', serif;
$secondary-font: 'Montserrat', serif;

$text-color: $black;
$text-secondary-color: $platinum;
$primary-color: $shocking-pink;
$secondary-color: $sapphire;
$tertiary-color: $oxford-blue;
$quaternary-color: $platinum;
$disabled-color: $platinum;
$vertical-padding: 0.5rem;
$horizontal-padding: 0.5rem;
$vertical-margin: 0.5rem;
$horizontal-margin: 0.5rem;

$border-radius: 3px;
$box-shadow: 0.4rem 0.4rem 3px 2px rgba($secondary-color, 0.1);

$grid-gap: 1.5rem;
$grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));

$transition: all 0.2s ease-in-out;

///////////////////////////

:root {
  --my-variable: brown;
}

h1, h2, h3, h4, h5 {
  font-family: $primary-font;
}
p {
  font-family: $secondary-font;
}
//////////////
//CONTAINER
//////////////
.container-flex {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: $vertical-margin $horizontal-margin;
  padding: $vertical-padding $horizontal-padding;
}

.container-grid {
  display:grid;
  justify-content: center;
  grid-template-columns: $grid-template-columns;
  grid-gap: $grid-gap;
  align-items: center;
  flex-direction: row;
  margin: $vertical-margin $horizontal-margin;
  padding: $vertical-padding $horizontal-padding;
}

.grid-item {
  grid-column: span 1;
}
/////////////////////
//Button
/////////////////////
.btn {
  justify-content: center;
  align-items: center;
  margin: $vertical-margin $horizontal-margin;
  padding: $vertical-padding $horizontal-padding;
  border: 2px solid $tertiary-color;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  grid-column: span 1;
  transition: all 0.2s ease-out;
}

.btn:hover:enabled {
  cursor: pointer;
  transform: translateY(-0.25rem)
}

.btn:disabled {
  opacity: 0.4;
  background-color: $disabled-color;
}

.btn-primary {
  color: $white;
  font-family: $primary-font;
  font-size: 1.2rem;
  width: 100%;
  background: $primary-color;
  transition: $transition;
}

.btn-primary:hover:enabled {
  background: rgba($primary-color, 0.8);
}

.btn-secondary {
  color: $white;
  font-family: $primary-font;
  font-size: 1.2rem;
  width: 100%;
  background: $secondary-color;
  transition: $transition;
}

.btn-secondary:hover:enabled {
  background: rgba($secondary-color, 0.8);
}

.btn-tertiary {
  color: $white;
  font-family: $primary-font;
  font-size: 1.2rem;
  width: 100%;
  background: $tertiary-color;
  transition: $transition;
}

.btn-tertiary:hover:enabled {
  background: rgba($tertiary-color, 0.8);
}

.btn-quaternary {
  color: $black;
  font-family: $primary-font;
  font-size: 1.2rem;
  width: 100%;
  background: $quaternary-color;
  transition: $transition;
}

.btn-quaternary:hover:enabled {
  background: rgba($quaternary-color, 0.2);
}
/////////////////////
//CARD
/////////////////////
.card {
  margin: $vertical-margin $horizontal-margin;
  padding: 0 $horizontal-padding;
  display: flex;
  grid-column: span 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid $tertiary-color;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  transition: all 0.2s ease-out;
}

.card:hover {
  transform: translateY(-0.5rem)
}
.card-title {
  padding: $vertical-padding $horizontal-padding;
  color: $white;
  font-family: $primary-font;
  font-size: 1.2rem;
  width: 100%;
  background: $title-gradient;
}

.card-success {
  background: $success-gradient;
}

.card-warning {
  background: $warning-gradient;
}

.card-danger {
  background: $danger-gradient;
}
.card-body {
  width: 100%;
  margin: $vertical-margin $horizontal-margin;
  padding: $vertical-padding $horizontal-padding;
  font-family: $secondary-font;
}
.card-footer {
  padding: $vertical-padding $horizontal-padding;
  background-color: $quaternary-color;
  width: 100%;
  font-family: $secondary-font;
}
/////////////////////